.blog-posts {
    display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-evenly;
}

@media (max-width:1200px){
  .blog-posts {
    align-content: space-between;
  }
}

@media (max-width:600px){
  .blog-posts {
    align-content: center;
  }
}